{% extends "base.html" %}
{% block title %}Le serie di @{{autore.username}}{% endblock %}
{% block home_active %}active{% endblock %}

{% block content %}
<!-- dati: autore, serie, altriEpisodi -->
<p><strong>Le serie podcast di '{{autore.nickname}}'</strong></p>

<div class="container text-center">
    {% if current_user.is_authenticated and current_user.username==autore.username%}
        <h3>Le mie Serie Podcast</h3>
    {% else %}
        <h3>Le Serie Podcast di <strong><a href="{{url_for('profilo', username=autore.username)}}">{{autore.nickname}}</a></strong></h3>
    {% endif %}

    <div class="row ">
        <!-- colonna a destra -->
        <aside class="col">
            <!-- scheda autore -->
            <section class="card bg-light">
                <div class="card-body">
                    <div class="row-4 justify-self-center">
                        <p>Scheda Autore</p>
                        <a href="{{url_for('profilo', username=autore.username)}}"> 
                            <img width="150" class="circle" src="{{ url_for('static', filename='/img/'+autore.propic ) }}"
                                 alt="immagine del profilo di @{{autore.username}}">
                        </a>
                        <h3>{{autore.nickname}}</h3>
                        <h5><strong><a href="{{url_for('profilo', username=autore.username)}}">@{{autore.username}}</a></strong>
                            {% if autore.creatore==1 %}
                                <span class="badge bg-success fs-6">Content Creator</span>
                            {% else %}
                                <span class="badge bg-primary fs-6">Ascoltatore</span>
                            {% endif %}
                        </h5>
                        <div class="row">
                            <div class="col justify-content-end">
                                <p>{{totFollowers}} follower{%if totFollowers!=1%}s{%endif%}</p>
                            </div>      
                            <div class="col justify-content-start">
                                <p><a href="{{url_for('listaSerieSeguite', username=autore.username)}}">{{totSeguiti}}</a> serie seguite</p>
                            </div>    
                        </div>
                    </div>
                </div>
            </section>
        </aside>

        <!-- colonna principale -->
        <main class="col-6">

            {% if not serie %}
                {% if current_user.is_authenticated and current_user.username==autore.username%}
                    <h6>Non hai ancora pubblicato nessuna serie</h6>
                    <a href="{{url_for('creaSerie')}}">
                        <button type="button" class="btn btn-primary btn-lg circle">➕Crea Serie</button>
                    </a>
                {% else %}
                    <h6><strong><a href="{{url_for('profilo', username=autore.username)}}">{{autore.nickname}}</strong></a> non ha pubblicato nessuna serie</h6>
                {% endif %}
            {% endif %}

            <br>

            <section class="row row-cols-1 row-cols-md-3 g-4">
                {% for s in serie %}
                    <div class="col">
                        <div class="card bg-light">
                            <a href="{{url_for('serie', codS=s.codS)}}">
                                <img src="{{ url_for('static', filename='img/'+s.file) }}" class="card-img-top" alt="Immagine di copertina della serie {{s.titolo}}">
                            </a>
                            <div class="card-body">
                                <a href="{{url_for('serie', codS=s.codS)}}">
                                    <h5 class="card-title">{{s.titolo}}</h5>
                                </a>
                                <a href="{{url_for('listaSeriePerCategoria', categoria=s.categoria)}}">
                                    <span class="badge rounded-pill text-bg-info">{{s.categoria}}</span>
                                </a>
                                <p class="card-text-personalizzato">{{s.descrizione}}</p>
                                <a href="{{url_for('serie', codS=s.codS)}}" type="button" class="btn btn-outline-primary">Ascolta ora</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </section>
        </main>

        <!--colonna a sinistra -->
        <div class="col ">
            {% if altriEpisodi %}
                <div class="card bg-light">
                    <div class="card-body">
                        <h6 class="card-title">
                            {% if current_user.is_authenticated and current_user.username==autore.username%}
                                I tuoi episodi senza serie
                            {% else %}
                                Episodi di @<strong><a href="{{url_for('profilo', username=autore.username)}}">{{autore.username}}</a></strong> senza serie
                            {% endif %}
                        </h6>
                        <div class="list-group">
                            {%for e in altriEpisodi %}
                                <a href="{{url_for('episodio', codE=e.codE)}}" 
                                class="list-group-item list-group-item-action">
                                {{e.titolo}}
                                </a>
                            {%endfor%}
                        </div>
                    </div>
                </div>
            {% endif %}

            <br>
            <div class="btn-group">
                <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Naviga per Categoria
                </button>
                <ul class="dropdown-menu">
                    {%if db["categorie"] %}
                        {% for c in db["categorie"] %}
                            <li><a class="dropdown-item" href="{{url_for('listaSeriePerCategoria', categoria=c.nome)}}">{{c.nome}}</a></li>
                        {% endfor %}
                    {% else %}
                        <li><a class="dropdown-item" href="#">Nessuna categoria presente</a></li>
                    {% endif %}
                </ul>
            </div>


            
                




        </div>
   
    </div>

    <br>
    <br>
    <br>
        
</div>



{% endblock %}