{% extends "base.html" %}
{% block title %}Modifica Episodio{% endblock %}

{% block content %}
<p><strong>Modifica Episodio '{{episodio.titolo}}'</strong></p>
<div class="flex-grow-1 text-start px-4">
    <a href="{{url_for('episodio', codE=episodio.codE)}}" type="button" class="btn btn-primary btn-sm">Torna all'episodio</a>
</div>
<!-- controllo del form front-end:
     1. titolo episodio: required, lunghezza minima 3 caratteri
     2. descrizione: required
     3. data: nessun controllo, se non viene impostata viene assegnata la data corrente in app.py
     5. serie: compare solo se l'utente ha creato delle serie in precedenza, se le ha create si può
        scegliere tra le serie o lasciare il campo vuoto che ha valore -1, trattato opportunamente in app.py 
     6. file audio: required -->
<main class="col-5 bg-light p-4 border rounded">

    <form action="/modificaEpisodioPost" method="POST" enctype="multipart/form-data">
        <label for="titolo" class="form-label">Titolo Episodio</label>
        <div class="input-group mb-3">
            <input type="text" class="form-control" name="titolo" id="titolo" required minlength="3"
                   maxlength="100" value="{{episodio.titolo}}">
        </div>

        <label for="descrizione">Descrizione</label>
        <div class="input-group">
            <textarea name="descrizione" class="form-control" aria-label="With textarea" maxlength="4000" required>{{episodio.descrizione}}
            </textarea>
        </div>

        <div class="mb-3">
            <label for="data" class="form-label">Data</label>
            <input type="date" class="form-control" name="data" id="data" value="{{episodio.data}}">
        </div>
        
        {% if not serie %}
        <input type="hidden" id="codS" name="codS" value="-1">
        {% else %}
        <div class="mb-3">
            <label for="codS">Serie di appartenenza</label>
            <select title="codS" id="codS" name="codS" required>
                {% if serieDiAppartenenza %}
                    <option value="{{ serieDiAppartenenza.codS }}">
                        {{ serieDiAppartenenza.titolo }}
                    </option>
                {% endif %}
                <option value=-1></option>
            {% for s in serie %}
                {% if serieDiAppartenenza %}
                    {% if s.codS!=serieDiAppartenenza.codS %}
                        <option value="{{ s.codS }}">{{ s.titolo }}</option>
                    {% endif %}
                {% else %}
                    <option value="{{ s.codS }}">{{ s.titolo }}</option>
                {% endif %}
            {% endfor %}
        </div>
        
        {% endif %}
        <div class="mb-3">
            <label for="file" class="form-label">File Audio</label>
            <input type="file" class="form-control" name="file" id="file"> <!-- non è richiesto, se non viene selezionato rimane quello attuale -->
        </div>
        <input type="hidden" name="codE" value="{{episodio.codE}}">
        <button type="submit" class="btn btn-primary">✔️Salva Modifiche</button>
    </form>
    
    <br>
    <form action="/eliminaEpisodio" method="POST">
        <input type="hidden" id="codE" name="codE" value="{{episodio.codE}}">
        <input type="hidden" id="codS" name="codS" value="{{serieDiAppartenenza.codS}}">
        <button type="submit" class="btn btn-secondary">❌Elimina Episodio</button>
    </form>
</main>
<h1><br></h1>
<h1><br></h1>
{% endblock %}